# ----------------------------------------------------------------------------
# FILE:          .gitignore
# DESCRIPTION:   GIT ignore file for Vivado project src control
# DATE:          02:00 PM Thursday, August 29, 2019
# AUTHOR(s):     Lime Microsystems
# REVISIONS:
# ----------------------------------------------------------------------------

!.gitignore
# ----------------------------------------------------------------------------
# VIVADO project
# ----------------------------------------------------------------------------
vivado/constraints
vivado/incremental
vivado/LimeSDR-X3.cache
vivado/LimeSDR-X3.hw
vivado/LimeSDR-X3.ip_user_files
vivado/LimeSDR-X3.runs
vivado/LimeSDR-X3.sim
vivado/LimeSDR-X3.srcs
vivado/mb_subsystem.tcl
vivado/LimeSDR-X3.xpr
vivado/LimeSDR-X3.sdk/.metadata
vivado/LimeSDR-X3.sdk/.sdk
#vivado/LimeSDR-X3.sdk/lms7_trx_top_hw_platform_0
#vivado/LimeSDR-X3.sdk/mbfw/Debug
#vivado/LimeSDR-X3.sdk/mbfw/.cproject
#vivado/LimeSDR-X3.sdk/mbfw/.project
#vivado/LimeSDR-X3.sdk/mbfw_bsp
vivado/LimeSDR-X3.sdk/RemoteSystemsTempFiles
vivado/LimeSDR-X3.sdk/webtalk
vivado/LimeSDR-X3.sdk/SDK.log
LimeSDR-X3/*
.Xil
.Xiltemp
vivado/*

# --------------
# src
# --------------
*.bak
src/**/source_library
# --------------
# ip
# --------------

# --------------
# bitstream
# --------------


# ----------------------------------------------------------------------------
# OTHER
# ----------------------------------------------------------------------------
*.log
*.str
*.mif
workspace/*
*.jou
